body{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 35px;
    grid-row-gap: 30px;
    margin-top: 30px;
}

div{
   margin: 2px;
   padding: 2px;
   background-color: rgb(242, 80, 62);
   width: 56%;
}

img{
    background-color: rgb(238, 177, 130);
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    border: 3px solid #aaaaaa;
}